:root {
	--color-red-1: #e83f5b;
	--color-red-2: #ce4a4a;
	--color-red-3: #eb3223;
	--color-green-1: #00875f;
	--color-green-2: #00b37e;
	--color-green-3: #015f43;
	--color-green-4: #00291d;
	--color-green-5: #00875f;
	--color-green-6: #04d361;

	/* Fonts */
	--text-size: 1rem;
	--title-size: 2rem;

	/* Sizes */
	--border-radius: 0.25rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	border: none;
	outline: none;

	-webkit-tap-highlight-color: transparent;
}

.content {
	width: 1120px;
	margin: 0 auto;
}

/* html,
:host {
} */

body.active {
	overflow: hidden;
}

html,
body,
:host {
	scroll-behavior: smooth;
	position: relative;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

.theme-provider {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
}

*::-webkit-scrollbar {
	width: 6px;
	padding-right: 3px;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	color: var(--color-title);
}

b,
strong {
	font-weight: bolder;
}

ul,
ol {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

code,
kbd,
samp,
pre {
	font-family: theme(
		'fontFamily.mono',
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		'Liberation Mono',
		'Courier New',
		monospace
	); /* 1 */

	font-size: 1em; /* 4 */
	font-feature-settings: theme(
		'fontFamily.mono[1].fontFeatureSettings',
		normal
	); /* 2 */

	font-variation-settings: theme(
		'fontFamily.mono[1].fontVariationSettings',
		normal
	); /* 3 */
}

small {
	font-size: 80%;
}

button,
[role='button'] {
	cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0; /* 2 */
	padding: 0; /* 3 */

	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	font-feature-settings: inherit; /* 1 */
	font-variation-settings: inherit; /* 1 */
	font-weight: inherit; /* 1 */
	line-height: inherit; /* 1 */
	color: inherit; /* 1 */
	letter-spacing: inherit; /* 1 */
}

button,
select {
	text-transform: none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
	appearance: button; /* 1 */
	background-color: transparent; /* 2 */
	background-image: none; /* 2 */
}

[type='search'] {
	appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
	appearance: none;
}

:-moz-focusring {
	outline: auto;
}

::-webkit-file-upload-button {
	font: inherit; /* 2 */
	appearance: button; /* 1 */
}

[hidden] {
	display: none;
}

img {
	pointer-events: none;
	user-select: none;
	max-width: 100%;
	height: auto;
}

i {
	font-weight: normal !important;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
}

.lucide {
	width: 1em;
	height: 1em;
}

@media (width <= 1024px) {
	.content {
		width: 91%;
	}
}

@media (width <= 834px) {
	.content {
		width: 91%;
	}
}

@media (width <= 768px) {
	.content {
		width: 91%;
	}
}

@media (width <= 540px) {
	.content {
		width: 89%;
	}
}
