@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	border: none;
	outline: none;

	-webkit-tap-highlight-color: transparent;
}

:root {
	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);

	--color-title: var(--color-title);
	--color-text: var(--color-text);

	--color-foreground: var(--color-surface);
	--color-background: var(--color-background);

	--color-line: var(--color-line);

	--color-red-1: #e83f5b;
	--color-red-2: #ce4a4a;
	--color-red-3: #eb3223;

	--color-green-1: #00875f;
	--color-green-2: #00b37e;
	--color-green-3: #015f43;
	--color-green-4: #00291d;
	--color-green-5: #00875f;
	--color-green-6: #04d361;

	/* Fonts */
	--text-size: 1rem;
	--title-size: 2rem;

	/* Sizes */
	--border-radius: 0.25rem;
}

::-webkit-scrollbar {
	width: 6px;
	padding-right: 3px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--color-surface);
}

.content {
	width: 1120px;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

body.active {
	overflow: hidden;
	font-size: var(--text-size);
}

html,
body,
#root {
	position: relative;

	min-height: 100vh;

	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	color: var(--color-text);

	background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-title);
}

ul,
ol {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	pointer-events: none;
	user-select: none;
	max-width: 100%;
	height: auto;
}

i {
	font-weight: normal !important;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.lucide {
	width: 1em;
	height: 1em;
}

@media (max-width: 1024px) {
	.content {
		width: 91%;
	}
}

@media (max-width: 834px) {
	.content {
		width: 91%;
	}
}

@media (max-width: 768px) {
	.content {
		width: 91%;
	}
}

@media (max-width: 540px) {
	.content {
		width: 89%;
	}
}
